<ul class="tabs" data-tab>
  {{#each tab in tabs}}
    <li class="tab-title">
      <a {{bind-attr href=tab.href}}>{{tab.title}}</a>
    </li>
  {{/each}}
</ul>

<div class="tabs-content">
  {{yield}}
</div>
